body {
  background-color: #e9232c;
}
body h1 {
  color: red;
  font-size: 30px;
}
body img {
  width: 499px;
  height: 400px;
}
body {
  background-color: #e9232c;
}
body h1 {
  color: #000;
  font-size: 66px;
}
body img {
  width: 499px;
  height: 400px;
}
